<div class="about-me-container">
    <h2>About Me</h2>
    <img src="assets/AboutMe.jpg" alt="AboutMe Image" />   
<p>Hello!</p>
<p>My name is Liva, a 29-year-old food enthusiast living in the beautiful city of Riga, Latvia.</p>
<p>Cooking has been my passion for several years now. </p>
<p>What excites me the most is experimenting with different ingredients and cuisines, stepping away from the traditional Latvian kitchen to explore the endless possibilities in the world of food. My love for cooking goes hand-in-hand with my zest for travel.</p>
<p>Discovering new places and tasting local cuisines enrich my understanding and appreciation of culture through its flavors.</p>
<p>Join me as I share my culinary adventures and experiments.</p>
<p>Welcome to my blog!</p>
</div>