<div class="contact-container">

    <img src="assets/Contact.jpeg" alt="Contact Image" />   
    
<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm.value)">
  
    <label for="name">Name and Surname:</label>
    <input type="text" id="name" class="form-control" name="name" ngModel required>
  
    <label for="email">Email Address:</label>
    <input type="email" id="email" class="form-control" name="email" ngModel required>
  
    <label for="message">Suggestion or Offer:</label>
    <textarea id="message" class="form-control" name="message" ngModel required></textarea>

  <button type="submit" class="btn btn-primary" [disabled]="!contactForm.form.valid">Send</button>
</form>
