.numberInput{
    padding: 10px;
    margin: 10px;
}
.checkButton{
    padding: 10px;
    background-color: beige;
    color: black;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}