<style>
.numberInput{
    padding: 10px;
    margin: 10px;
}
.checkNumber{
    padding: 10px;
    background-color: gold;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.btn2{
    background-color: beige;
}
</style>