<style>
.backgroundPicture{
    background-image: url("https://media.giphy.com/media/3o7TKMt1VVNkHV2PaE/giphy.gif" alt="Fluffy unicorn">);
    height: 40%;
    width: 400px;
}
.backgroundGreen{
    background-color: rgb(48, 64, 48);
}
.testParagraph{
    color:rgb(5, 42, 42);
}
.testAlignCenter{
    text-align: center;
    color:rgb(58, 3, 41)
}
body{
    background-color: rgb(255, 255, 255);
    color:cornsilk;
}
p{
    text-align:center;
}

button{
    background-color: red;
    color: white;
    height: 120px;
    width: 120px;
}
</style>