<div>
    <input type="number" [(ngModel)]="animalIndex" placeholder="Ievadiet skaitli" class="input">
    <input type="text" [(ngModel)]="newAnimalName" placeholder="Ievadiet jaunu vārdu" class="input">
    <button (click)="editAnimalName()" class="button">Izlabot vārdu</button>
  </div>

  <div *ngIf="showError" class="error">
    Šāda vērtība neeksistē. Lūdzu, ievadi skaitli no 0-3.
  </div>

<div class="frame" *ngFor="let animal of lst">
    <p>Vārds: {{animal.name}}</p>
    <p>Vecums: {{animal.age}}</p>
    <p>Suga: {{animal.species}}</p>   
    <img [src]="animal.picture" alt="{{animal.name}}" class="image">     
    </div>