.frame {
    width: 250px;
    padding: 8px;
    margin: 5px;
    border: 1px solid hsl(0, 1%, 61%);
    border-radius: 4px;
    background-color: #eff2f2;
}

.image {
    max-width: 100%;
    height: auto; 
    border-radius: 4px;
  }

.error {
    color: red;
    margin: 10px 0;
    font-family:sans-serif;
  }

.input {
    border: 1px solid hsl(0, 1%, 61%);
    border-radius: 4px;
    padding: 8px 10px;
    font-size: 14px;
    margin-right: 10px;
  }
  
.button {
    background-color: #afb3b3;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-family:sans-serif;
  }

  .button:hover {
    background-color: #656363;
  }

  p {
    font-family:sans-serif;
  }