.header {
  background-color: #f8f9fa; 
  padding: 20px; 
  text-align: center;
}

.header h1 {
  color: #333; 
  font-family: 'Arial', sans-serif; 
  font-weight: normal; 
  margin-bottom: 20px; 
}

.nav-links button {
  background-color: transparent; 
  border: none; 
  color: #333; 
  cursor: pointer; 
  font-family: 'Arial', sans-serif; 
  font-size: 16px;
  margin: 0 10px; 
  padding: 10px 20px; 
  transition: color 0.3s ease; 
}

.nav-links button:hover {
  color: #465334; 
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Arial', sans-serif; 
  font-size: 14px; 
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #465334; 
}

.dropdown:hover .dropdown-content {display: block;}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
